body {
  font-family: sans-serif;
  background-color: #c419b6;
}

h1 {
  font-size: 3em;
  color: #8b61ff;
  text-align: center;
  margin-top: 20px;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #ff0000;
  text-align: center;
  z-index: -1;
}